<div [@routerTransition]>
    <app-page-header [heading]="'Viajes'" [icon]="'fa-table'"></app-page-header>
     <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Listado de viajes
                    <button class="btn btn-success pull-right" >Crear viaje</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Ruta</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <p class="text-center">Error obteniendo viajes</p>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
